<!DOCTYPE html>
<html ng-app='app'>
<head>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
	<h2> Should I Have Another Drink? </h2>
	<div ng-controller='QuestionController'>

	<p>
		{{questions.question1}}
		<form name="radioForm">
			<ng-form name="radioButtons">
				<label>
					<input type="radio" name="response" ng-model="radioResponse[0]" ng-click="processAnswer('yes')">
					Yes
				</label>
				<label>
					<input type="radio"	name="response" ng-model="radioResponse[1]" ng-click="processAnswer('no')">
					No
				</label>
			</ng-form>
		</form>
	</p>

	<div class="answers" ng-model="answers" ng-show="answer">
		{{answers.no}}
	</div>

	<div class="answers" ng-model="answers" ng-hide="answer">
		{{answers.yes}}
	</div>



	<br>


	<div>
	<!-- handle submit -->

	</div>

</body>
</html>
